body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #642444;
  overflow: auto;

}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;

}

.navbar a:hover {
  background-color: gray;
}
.home-icon{
    background-color: white;
    color:#5e2129;
    border-radius: 19px;
float: left;
    margin-bottom: -10px;
  
  }
  .next{
    float:center;
  }
.form-control-me-2{
float:left;
margin-top: 1%;
padding-right:  8%;
}
.search-button{
    color:#5e2129;

}
.btn-btn-outline-success{
margin-top: 1%;
border-radius: 19px;
border-color: #5e2129;
}
.tittle{
  float:center;
  margin-left: 80px;
  margin-top:-70px;


}
.bottom{
    float:center;
    margin-left: 80px;
}
.logo{
   float:left
   width:85px;
   height: 85px;
  }
.login{

    color:#5e2129;
   float:right;
   margin-top: -70px;
   margin-right: 15px;

  
  }
  .button-login{
    margin-top: -25px;
    width: 90px;
    height: 10;
    font-size: 10px;
    background-color:#682444;
    color:aliceblue;
    border-radius:5px;
    float:right;
  }
  .container-Desciption{
position: absolute;
align-items: center;
  }
.col{
    margin-top: -15px;
}

}
  
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}